export MARKETCHECK_API_KEY=KdNXRc9F0R9SrCJahMsP2qNhC5iRqMtk
export MARKETCHECK_BASE_URL=https://api.marketcheck.com/v2/
export KAFKA_BROKERS=${KAFKA_BROKERS:-localhost:9092}
export SEARCH_MAKE=${SEARCH_MAKE:-ford}
export SEARCH_MODEL=${SEARCH_MODEL:-f-150}
export SEARCH_ZIP=${SEARCH_ZIP:-92617}
export SEARCH_RADIUS=${SEARCH_RADIUS:-50}
export ECR_REPO=565944121659.dkr.ecr.us-east-1.amazonaws.com/motor-metrics
export AWS_REGION=us-east-1
